.container {
  padding: 4px;
  margin: 4px;
}

.mat-grid-tile {
  padding: 6px;
}

.card {
  width: 100%;
  margin: 2px;
}

table {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
  margin: auto;
}

td.mat-cell:first-of-type {
  text-align: left;
}

td.mat-cell {
  text-align: center;
}

.mat-form-field {
  max-width: 150px;
  margin: 0 5px;
}
